- if @resource.name
  = "#{t('catarse.users_mailer.notification_email.hello')}, #{@resource.name}!"
- else
  = "#{t('catarse.users_mailer.notification_email.hello')}!"
br
br
= I18n.t('catarse.passwords.email.content_html', :link => link_to(I18n.t('catarse.passwords.edit.submit'), "#{Catarse::Configuration[:base_url]}#{edit_password_path(@resource, :reset_password_token => @resource.reset_password_token)}", :style => 'color: #E75297;')).html_safe
br
br
= t('catarse.users_mailer.notification_email.salutation')
br
br
= t('catarse.users_mailer.notification_email.signature')
